/* all */
@font-face {
font-family: Cirrus;
src: url(CirrusCumulus.woff);
}

body {
	margin: 20px;
	padding: 0;
	font-size: 18px;
	font-family: sans-serif;
	line-height: 1.3;
	box-sizing: border-box;
	background-color: olive;
}

::selection {
  color: gainsboro;
  background: #9D9DFF;
}

#home {
	background-image: url(moss.jpg);
	background-blend-mode: exclusion;
	background-size: cover;
	background-attachment: fixed;
	transition: background-image 1s, background-color 1s;
}

body::-webkit-scrollbar {
  display: none;
}

a {
	font-family: serif;
	color: gainsboro;
	text-decoration: none;
	border-bottom: 2px solid gainsboro;
	padding-bottom: 1.5px;
}

a:hover {

}

nav a:first-child {
	border-bottom: none;
	color: black;
}

footer {
	font-family: serif;
	display: flex;
	justify-content: flex-start;
}

footer > a {
 	padding-right: 10px;
}

footer > p {
	margin: 0;
}


h1 {
	font-family: Cirrus;
	font-size: 1.5em;
}

h2 {
	font-family: serif;
	text-transform: uppercase;
	letter-spacing: 3px;
	font-size: 1em;
	font-weight: 700;
}

h3 {
	font-family: serif;
	font-size: 1em;
	font-style: italic;
	font-weight: 400;
}

p.intro {
	
}

ul {
	margin-top: 0;
	font-family: sans-serif;
	line-height: 1.3;
}

section {
	max-width: 85vw;
}

/* js test */
#wrap{
	/* pointer-events: none;*/
    width:100%;
    height:100%;
    position: fixed;
    top: 0;
    left: 0;  
}

text {
	font-family: Cirrus;
    fill: gainsboro;
}

text a {
	font-family: Cirrus;
	fill: gainsboro; 
	text-decoration-line: overline;
}

text a:hover {
	fill:#9D9DFF;
}
/* index */


/* about */


/* prompts */
.prompts {
	display: flex;
	flex-wrap: wrap;
}

.prompts div {
	width: 47%;
	padding: 0 10px 0 0;
}

.prompts div:first-child {
	width: auto;
}

/* library */

table {
font-family: sans-serif;
  border-collapse: collapse;
}

td, th {
  border: 1px solid white;
  padding: 0.5rem;
  text-align: left;
}